# ------------------------------------------------ #
#  The SBT Configuration file.                     #
# ------------------------------------------------ #

{% set sbt_opts = scala_sbt_global_opts %}
{% macro sbt_flag(key, value) %}
{% if value == "true" or value == "false" %}
-D{{ key }}={{ value }}
{% else %}
-D{{ key }}="{{ value }}"
{% endif %}
{% endmacro %}
{% if sbt_opts.allow_empty | default(false) | bool %}
# Starts sbt even if the current directory contains no sbt project.
--allow-empty

{% endif %}
{% if sbt_opts.mem is defined %}
# Set memory options
-mem {{ sbt_opts.mem }}

{% endif %}
{% if sbt_opts.no_share | default(false) | bool %}
# Use local caches for projects, no sharing.
-no-share

{% endif %}
{% if sbt_opts.sbt_version is defined %}
# Sets the sbt version to use.
-sbt-version {{ sbt_opts.sbt_version }}

{% endif %}
{% if sbt_opts.scala_home is defined %}
# Scala home path
-scala-home {{ sbt_opts.scala_home }}

{% endif %}
{% if sbt_opts.scala_version is defined %}
# Scala version to use
-scala-version {{ sbt_opts.scala_version }}

{% endif %}
{% if sbt_opts.java_home is defined %}
# JVM home path
-java-home {{ sbt_opts.java_home }}

{% endif %}
{% if sbt_opts.boot is defined %}
{% if sbt_opts.boot.directory is defined %}
# Path to shared boot directory.
-Dsbt.boot.directory="{{ sbt_opts.boot.directory }}"

{% endif %}
{% if sbt_opts.boot.properties is defined %}
# The path to find the sbt boot properties file.
-Dsbt.boot.properties="{{ sbt_opts.boot.properties }}"

{% endif %}
{% endif %}
{% if sbt_opts.ci is defined %}
# For continuous integration environments. Suppress supershell and color.
{{ sbt_flag('sbt.ci', sbt_opts.ci) }}

{% endif %}
{% if sbt_opts.client is defined %}
{{ sbt_flag('sbt.client', sbt_opts.client) }}

{% endif %}
{% if sbt_opts.color is defined %}
# Supersedes sbt.log.format. To turn on color, use always or true. To turn off color, use never or false.
-Dsbt.color="{{ sbt_opts.color }}"

{% endif %}
{% if sbt_opts.coursier is defined %}
{% if sbt_opts.coursier.enabled is defined %}
# Use coursier to retrieve packages.
{{ sbt_flag('sbt.coursier', sbt_opts.coursier.enabled) }}

{% endif %}
{% if sbt_opts.coursier.home is defined %}
# Location of coursier artifact cache.
-Dsbt.coursier.home="{{ sbt_opts.coursier.home }}"

{% endif %}
{% endif %}
{% if sbt_opts.extraClasspath is defined %}
# Jar files or directories that are added to sbt's classpath.
-Dsbt.extraClasspath="{{ sbt_opts.extraClasspath }}"

{% endif %}
{% if sbt_opts.genbuildprops is defined %}
# Generate build.properties if missing.
{{ sbt_flag('sbt.genbuildprops', sbt_opts.genbuildprops) }}

{% endif %}
{% if sbt_opts.global is defined %}
{% if sbt_opts.global.base is defined %}
# The directory containing global settings and plugins.
-Dsbt.global.base="{{ sbt_opts.global.base }}"

{% endif %}
{% endif %}
{% if sbt_opts.inc is defined %}
{% if sbt_opts.inc.debug is defined %}
# Extra debugging for the incremental debugger.
{{ sbt_flag('xsbt.inc.debug', sbt_opts.inc.debug) }}

{% endif %}
{% endif %}
{% if sbt_opts.ivy is defined %}
{% if sbt_opts.ivy.enabled is defined %}
# Use ivy to retrieve packages.
{{ sbt_flag('sbt.ivy', sbt_opts.ivy.enabled) }}

{% endif %}
{% if sbt_opts.ivy.home is defined %}
# The directory containing the local Ivy repository and artifact cache.
-Dsbt.ivy.home="{{ sbt_opts.ivy.home }}"

{% endif %}
{% endif %}
{% if sbt_opts.log is defined %}
{% if sbt_opts.log.noformat is defined %}
# If true, disable ANSI color codes.
{{ sbt_flag('sbt.log.noformat', sbt_opts.log.noformat) }}

{% endif %}
{% endif %}
{% if sbt_opts.main is defined %}
{% if sbt_opts.main.class is defined %}
# The sbt class to use.
-Dsbt.main.class="{{ sbt_opts.main.class }}"

{% endif %}
{% endif %}
{% if sbt_opts.offline is defined %}
# Avoid retrieving classes from repositories.
{{ sbt_flag('sbt.offline', sbt_opts.offline) }}

{% endif %}
{% if sbt_opts.override is defined %}
{% if sbt_opts.override.build is defined %}
{% if sbt_opts.override.build.repos is defined %}
# If true, repositories configured in a build definition are ignored.
{{ sbt_flag('sbt.override.build.repos', sbt_opts.override.build.repos) }}

{% endif %}
{% endif %}
{% endif %}
{% if sbt_opts.progress is defined %}
# Use always to show progress ("supershell").
-Dsbt.progress="{{ sbt_opts.progress }}"

{% endif %}
{% if sbt_opts.repository is defined %}
{% if sbt_opts.repository.config is defined %}
# A file containing the repositories to use for the launcher.
-Dsbt.repository.config="{{ sbt_opts.repository.config }}"

{% endif %}
{% endif %}
{% if sbt_opts.resident is defined %}
{% if sbt_opts.resident.limit is defined %}
# The number of scala compilers to keep around.
-Dsbt.resident.limit="{{ sbt_opts.resident.limit }}"

{% endif %}
{% endif %}
{% if sbt_opts.skip is defined %}
{% if sbt_opts.skip.version is defined %}
{% if sbt_opts.skip.version.write is defined %}
# Generate build.properties if missing.
{{ sbt_flag('sbt.skip.version.write', sbt_opts.skip.version.write) }}

{% endif %}
{% endif %}
{% endif %}
{% if sbt_opts.supershell is defined %}
{% if sbt_opts.supershell.enabled is defined %}
# Use supershell (show progress at bottom of shell).
{{ sbt_flag('sbt.supershell', sbt_opts.supershell.enabled) }}

{% endif %}
{% if sbt_opts.supershell.sleep is defined %}
# Time to wait between updating the supershell progress area.
-Dsbt.supershell.sleep="{{ sbt_opts.supershell.sleep }}"

{% endif %}
{% endif %}
{% if sbt_opts.task is defined %}
{% if sbt_opts.task.timings is defined %}
{% if sbt_opts.task.timings.enabled is defined %}
# Measure the time elapsed for running tasks.
{{ sbt_flag('sbt.task.timings', sbt_opts.task.timings.enabled) }}

{% endif %}
{% if sbt_opts.task.timings['omit.paths'] is defined %}
# Omit paths when reporting timings.
{{ sbt_flag('sbt.task.timings.omit.paths', sbt_opts.task.timings['omit.paths']) }}

{% endif %}
{% if sbt_opts.task.timings['on.shutdown'] is defined %}
# Report timings at JVM shutdown (instead of at task completion).
{{ sbt_flag('sbt.task.timings.on.shutdown', sbt_opts.task.timings['on.shutdown']) }}

{% endif %}
{% if sbt_opts.task.timings.threshold is defined %}
# Omit items from timing report if they are below this threshold.
-Dsbt.task.timings.threshold="{{ sbt_opts.task.timings.threshold }}"
{% endif %}
{% endif %}
{% endif %}
{% if sbt_opts.traces is defined %}
# Generate Chrome Trace Event Format log for tasks.
{{ sbt_flag('sbt.traces', sbt_opts.traces) }}

{% endif %}
{% if sbt_opts.turbo is defined %}
# Use additional layered class loaders.
{{ sbt_flag('sbt.turbo', sbt_opts.turbo) }}

{% endif %}
{% if sbt_opts.version is defined %}
# sbt version to use, usually taken from project/build.properties.
-Dsbt.version="{{ sbt_opts.version }}"

{% endif %}
{% if sbt_opts.watch_mode is defined %}
# If polling, check file system periodically for updates.
-Dsbt.watch.mode="{{ sbt_opts.watch_mode }}"

{% endif %}
{% if sbt_opts.jvm_properties is defined and sbt_opts.jvm_properties | length > 0 %}
# Extra JVM properties
{% for key, value in sbt_opts.jvm_properties.items() %}
-D{{ key }}="{{ value }}"
{% endfor %}
{% endif %}
